.preview-pane {
    float: left;
    margin-top: 30px;
    margin-right: 40px;
}
.avatar-view {
    display: block;
    width: 220px;
    height: 220px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 5px;
    cursor: pointer;
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
	display: block;
	float: left;
	clear: left;
	width: 100px;
	line-height: 30px;

}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avater-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}
.btn_addPic{ 
	display: block; 
	position: relative; 
	width: 140px; 
	height: 39px; 
	overflow: hidden; 
	border: 1px solid #EBEBEB; 
	background: none repeat scroll 0 0 #F3F3F3; 
	color: #999999; 
	cursor: pointer; 
	text-align: center; 
} 
.btn_addPic span{display: block;line-height: 39px;} 
.btn_addPic em { 
	background:url(http://p7.qhimg.com/t014ce592c1a0b2d489.png) 0 0; 
	display: inline-block; 
	width: 18px; 
	height: 18px; 
	overflow: hidden; 
	margin: 10px 5px 10px 0; 
	line-height: 20em; 
	vertical-align: middle; 
} 
.btn_addPic:hover em{background-position:-19px 0;} 
.filePrew { 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 140px; 
	height: 39px; 
	font-size: 100px; /* 增大不同浏览器的可点击区域 */ 
	opacity: 0; /* 实现的关键点 */ 
	filter:alpha(opacity=0);/* 兼容IE */ 
} 
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.tooltip-inner{white-space:nowrap;}