@CHARSET "UTF-8";
*{margin:0px;padding:0px;}
#container{
	border:1px solid #000;
	width:800px;
	height:600px;
	margin:auto;
}
#left{
	width:600px;
	height:600px;
	float:left;
	border-right:1px solid #000;
}
#left #msg_container{
	height:500px;
	overflow-x:hidden;
	overflow-y:scroll;
	border-bottom:1px solid #000;
}
#left #msg_container li{
	list-style: none;
	min-height:40px;
	line-height:20px;
	padding:5px;
}
#left #msg_container li:hover{
	background-color:#CCC;
}
#left #msg_container .sender{
	color:red;
}
#left .reader{
	color:green;
}
#left #msg_container .msg{
	color:blue;
}
#left #control_container{
	height:100px;
}
#left #control_container #user{
	color:green;
}
#right{
	width:200px;
	height:600px;
}