<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	
	<context:property-placeholder location="classpath:com/zdcf/config/config.properties" />
	
	<!-- 开启定时器-->
<!-- 	<task:annotation-driven/>器 -->
	<task:annotation-driven/> 
	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.zdcf" />

	<!-- 开启注解 -->
	<mvc:annotation-driven />
	
	<!--配置拦截器, 多个拦截器,顺序执行 -->  
	<mvc:interceptors>    
	    <mvc:interceptor>    
	        <!-- 匹配的是url路径， 如果不配置或/**,将拦截所有的Controller -->  
	        <mvc:mapping path="/**" />  
	        <mvc:exclude-mapping path="/login" />  
	        <mvc:exclude-mapping path="toRegister" />  
	        <mvc:exclude-mapping path="/register" />  
	        <mvc:exclude-mapping path="/loginvalidate"/>
	        <mvc:exclude-mapping path="/message/*"/>
	        <mvc:exclude-mapping path="/lab/*"/>
	        <mvc:exclude-mapping path="/movie/*"/>
	        <mvc:exclude-mapping path="/changeLanguage"/>
	        <mvc:exclude-mapping path="/index"/>
	        <mvc:exclude-mapping path="/file/*"/>
	        <bean class="com.zdcf.interceptor.LoginIntercepter"></bean>    
	    </mvc:interceptor>  
	    <!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->  
	</mvc:interceptors>


	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd -->
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/html/**" location="/html/" />
	<mvc:resources mapping="/font/**" location="/font/" />
	<mvc:resources mapping="/doc/**" location="/doc/" />
	<mvc:resources mapping="/sound/**" location="/sound/" />
	<mvc:resources mapping="/video/**" location="/video/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources mapping="/rain/**" location="/rain/" />
	<mvc:resources mapping="/style/**" location="/style/" />
	<mvc:resources mapping="/game/**" location="/game/" />
	<mvc:resources mapping="/kindeditor/**" location="/kindeditor/" />
	<mvc:resources mapping="/uploadimage/**" location="/uploadimage/" />
	<mvc:resources mapping="/uploadface/**" location="/uploadface/" />
	<mvc:resources mapping="/uploadfile/**" location="/uploadfile/" />
	<mvc:resources mapping="/mobile/**" location="/mobile/" />
	
	<!-- 定义跳转的文件的前后缀 ，视图模式配置-->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
<!-- 	<bean id="multipartResolver"   -->
<!--         class="org.springframework.web.multipart.commons.CommonsMultipartResolver">   -->
        <!-- 默认编码 -->
<!--         <property name="defaultEncoding" value="utf-8" />   -->
        <!-- 文件大小最大值 -->
<!--         <property name="maxUploadSize" value="10485760000" />   -->
        <!-- 内存中的最大值 -->
<!--         <property name="maxInMemorySize" value="40960" />  -->
<!--     </bean>   -->
    
<!--     <task:scheduler id="scheduler" pool-size="10" />   -->

<!-- 	<task:executor id="executor" keep-alive="3600" pool-size="100-200"  -->

<!-- 		queue-capacity="500" rejection-policy="CALLER_RUNS" />  -->

<!-- 	<task:annotation-driven executor="executor" scheduler="scheduler" /> -->
	
<!-- 	<context:annotation-config/> -->
	
<!--     <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
    
<!--     <context:component-scan base-package="com.zdcf.scheduled"/> -->
<!--     <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate"/> -->
	
    
    
</beans>
