<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdcf.dao.TwitterMediaMapper" >
  <resultMap id="BaseResultMap" type="com.zdcf.model.TwitterMedia" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="media_url" property="mediaUrl" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="video_info_url" property="videoInfoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, media_url, post_id, video_info_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zdcf.model.TwitterMediaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from twitter_media
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from twitter_media
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from twitter_media
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zdcf.model.TwitterMediaExample" >
    delete from twitter_media
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zdcf.model.TwitterMedia" >
    insert into twitter_media (id, media_url, post_id, 
      video_info_url)
    values (#{id,jdbcType=BIGINT}, #{mediaUrl,jdbcType=VARCHAR}, #{postId,jdbcType=BIGINT}, 
      #{videoInfoUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdcf.model.TwitterMedia" >
    insert into twitter_media
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mediaUrl != null" >
        media_url,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="videoInfoUrl != null" >
        video_info_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mediaUrl != null" >
        #{mediaUrl,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="videoInfoUrl != null" >
        #{videoInfoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zdcf.model.TwitterMediaExample" resultType="java.lang.Integer" >
    select count(*) from twitter_media
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update twitter_media
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mediaUrl != null" >
        media_url = #{record.mediaUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=BIGINT},
      </if>
      <if test="record.videoInfoUrl != null" >
        video_info_url = #{record.videoInfoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update twitter_media
    set id = #{record.id,jdbcType=BIGINT},
      media_url = #{record.mediaUrl,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=BIGINT},
      video_info_url = #{record.videoInfoUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdcf.model.TwitterMedia" >
    update twitter_media
    <set >
      <if test="mediaUrl != null" >
        media_url = #{mediaUrl,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="videoInfoUrl != null" >
        video_info_url = #{videoInfoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdcf.model.TwitterMedia" >
    update twitter_media
    set media_url = #{mediaUrl,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=BIGINT},
      video_info_url = #{videoInfoUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>