*{
	margin:0;
	padding: 0;
}
body{
    font-family: "Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;
	background-color:rgba(222,222,222,1);
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav{
	margin:0px auto;
	padding:0 40px;
	width:1120px;
	height: 60px;
	background: #000 none repeat ;
	border-radius: 10px 10px 0 0;
}
.nav audio{
  display: block;
  float: right;
  width:270px;
  height:30px;
  margin:14px;
  color:#fff;
  border:1px solid #555;
  border-radius: 5px;
}
.footer{
	margin:0px auto;
	padding:0 50px;
	color:#BBB;
	text-align: center;
	width:1100px;
	height: 30px;
	background: rgba(43,53,44,1) none repeat ;
}
.nav #logo a{

	display: block;
    float: left;
	width:90px;
	height:45px;
	background-image:url("../images/logo1.png");
	background-repeat: no-repeat;
	background-origin: content-box;	
	padding-top: 15px;

}
.fl{
	float: left;
}

.nav ul li{
   float:left;
   width: 90px;
   
}
.nav ul li a{

display: block;
color: #787D82;
text-align: center;
font-size: 14px;
height: 60px;
line-height: 60px;
transition: background-color 0.3s ease 0s;
}
.nav ul a:link a:visited{
   color:#14191E;
}
.nav ul a:hover{
	color:#FFF;
	background-color: rgba(54,60,65,1);
}

.content{
     width:1200px;
     height:530px;
     margin:0px auto;
     padding-top:20px;
     padding-bottom: 50px;
     background:rgba(202,195,189,1) url("../img/manage.jpg") no-repeat; 
     background-size:contain;  
     overflow: auto;
     
    } 
 .content h1{
      font-size: 22px;
      margin-left: 100px;
    }
.article{
  width: 800px;
  margin:20px 100px;
  margin-bottom: 0;
  padding:15px 35px;
  font-size: 14px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  position: relative;  
  line-height: 1.5em;
}
.article h2{
  font-size: 20px;
}
.article a{
  color:#666;
 
}
.article a:hover{
  color:rgba(223,60,89,1);
}