div.music-player-wrap *{
	font-family:  Arial, sans-serif;
	color:#fff;
}
.right{
	float:right;
}
.music-player-wrap{
	position: relative;
	display: block;   
	min-width:282px;
	height:520px;
	margin: 100px auto;
	padding:10px;
	background-color: #30556b;
/*background:-webkit-gradient(radial, 105 105, 20, 112 120, 50, from(#ff5f98), to(rgba(255,1,136,0)), color-stop(75%, #ff0188));*/
	border-radius: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.icon{
	background: url("../img/bg-icon.png");
}
.play-buttons > a{
	display: inline-block;
} 
.play-buttons > a:hover{
	cursor:pointer;
	/*text-shadow:0 3px 5px white;*/
} 
.play-buttons > a:active{
	
}
.play-buttons .pre-song{
	margin-top: 12px;
	width:38px;
	height: 33px;
	background-position: -68px 0;
	text-indent: -9999px;
}
.play-buttons .next-song{
	margin-top: 12px;
	width:38px;
	height: 33px;
	background-position: -111px 0;
	text-indent: -9999px;
}
#play-button{
	width:50px;
	display: inline-block;
	position: relative;
	width:59px;
	height: 56px;
	margin: 0 auto;
	margin:0 10px;
}
#play-button > a{
	display: block;
	height: 20px;
	width:15px;
	margin: 0 auto;
	position: absolute;
	text-indent: -9999px;
	top: 30%;
	left: 45%;
	background-position: -131px -89px;
}
div.music-name{
	text-align: center;
	font-size: 20px;
	margin:10px 0;
}
div.drag-bar-wrapper{
	width:225px;
	margin:0 auto;
}
div.drag-bar-wrapper .time-wrap{
	font-size:0.7em;
}
.drag-bar >div:hover a {
	box-shadow: 0 0 5px white;
}
.music-volume{
	margin:10px 0 0;
}
.volume-drag{
	margin: 0 10px;
	height:20px;
}
.volume-drag:hover a{
	box-shadow: 0 0 5px white;
}
.theme-box{
	margin: 50px;
	background-color: #ccc;
	display: none;
	position: absolute;
	z-index: 9;
	top: -125px;
	left: 248px;
	border-radius: 8px;
	box-shadow: rgb(100, 90, 90) 0px 0px 23px;
	z-index:10;
}
.theme-box > h1{
	background-color: #ccd;
	border-radius: 8px;
}
.theme-box >h1 >p{
	float: left;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 26px;
	color:rgb(84, 76, 148);
	margin-left: 10px;
}
.theme-box > h1 > a{
	float: right;
	background-color: rgb(173, 216, 230);
	width: 16px;
	height: 16px;
	display: inline-block;
	line-height: 13px;
	text-align: center;
	margin: 5px;
}
.theme-box > h1 >a:hover{
	text-decoration: none;
	background-color: rgb(63, 199, 243);
}
.theme-box > h1 >a:active{
	background-color: rgb(226, 87, 98);
	color: white;
}
.theme-content{
	width:300px;
}
.theme-content .theme-item{
	float:  left;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	background-color: red;
	margin: 15px 25px;
}
.song-logo-wrapper{
	height: 205px;
	width:205px;
	margin:15px auto 20px;
	box-shadow: 1px 0 5px #333;
	background-color: rgba(255, 255, 255, 0.2);
}
.song-logo-wrapper > div{
	width: 170px;
	height: 170px;
	margin:17px;
	display: inline-block;
	box-shadow: 1px 0 5px #333;
	background-color: rgba(255, 255, 255, 0.2);
	background-position:-140px -200px ;
}
.music-volume .volume-0{
	background-position: -296px -90px;
	width:18px;
	height: 18px;
}
.music-volume .volume-1{
	background-position: -270px -89px;
	width: 18px;	
	height: 18px;
}
.music-buttons{
	width:160px;
	margin:0 auto;
}
.music-buttons-footer{
	position: relative;
	margin-top:80px;
	text-align:center;
}
/*.music-buttons-footer > a{
	vertical-align: middle;
} */
.music-buttons-footer .current-mode{
	background-position: -421px -71.5px;
	display: inline-block;
	position: relative;
	width: 26px;
	height: 20px;
	cursor: pointer;
	margin:0 50px 0 59px;
	/*display: block;*/
}
.music-player-wrap .play-mode-ul{
	display: inline-block;
	position:absolute;
	left: 0;
	bottom:100%;
	margin-bottom: -20px;
	display: none;
	background-color: #30556b;
}
.music-buttons-footer .play-mode-item{
	width: 26px;
	height: 20px;
	cursor: pointer;
	display: block;
}
.music-buttons-footer .mode_list{
	background-position: -421px -71.5px;
}
.music-buttons-footer .mode_random{
	background-position: -421px -92.5px;
}
.music-buttons-footer .mode_singleloop{
	background-position: -421px -116.5px;
}
.music-buttons-footer .mode_listloop{
	background-position: -421px -138.5px;
}
#song-list{
	/*float: left;*/
	width: 17px;
	height: 20px;
	background-position: -225px -89.5px;
	cursor: pointer;
	display: inline-block;
}
#song-list:hover{
	background-position: -209px -89.5px;
}

.music-buttons-footer .change-theme{
	/*float: right;*/
	width: 26px;
	height: 20px;
	background-position: -353px -89.5px;
	cursor: pointer;
	display: inline-block;
}
.music-buttons-footer .change-theme:hover{
	background-position: -375px -89.5px;
}

.song-list-ul{
	display: none;
	width:200px;
	border-radius: 10px;
	position: absolute;
	top: -198px;
	left: -213px;
	background-color: rgba(0, 0, 0, 0.42);
	z-index:10;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.song-list-ul >li{
	padding:10px;
	font-size:0.8em;
	color:#fff;
	border-top: 1px solid #fff;
}
.song-list-ul .song-list-head{
border-top:none;
font-size: 15px;
cursor:move;
font-weight: bold;
text-shadow: 1px 0 15px #fff;
border-radius: 10px 10px 0 0;
background-color: rgba(78, 74, 74, 0.63);
}
.song-list-ul .song-list-items{
	background-color: rgba(29, 27, 27, 0.5);
	/*font-size: 20px;*/
	padding-left: 20px;
}

.playing_song{
	font-style: italic;
	font-size:1em !important;
	color: #7CCA7C !important;
	font-weight: bold;
}
#modal-box{
	display: none;
	position: fixed;
	top:0;
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,0.4);
}